<h1>All Products</h1>
<ul>
  {{#each products as |product|}}
    {{#link-to 'product' product.id}}
      <li>
        <img src={{product.image}}>
        <h3>{{product.title}}, ${{product.price}}</h3>
      </li>
    {{/link-to}}
  {{/each}}
</ul>
