body, form label {
  background-color: #002b80;
  color: white;
}

button {
  background-color: black;
}

.navbar {
  background-color: #00cc00;
  border: none;
}

.navbar-right {
  float: right;
}

form {
  color: black;
}

form button {
  background-color: #00cc00;
}
