body, form label {
  background-color: #002b80;
  color: white;
}

button {
  background-color: black;
}

.navbar {
  background-color: #00cc00;
  border: none;
}

a {
  color: #00cc00;
}

.navbar a {
  color: navy;
}

.navbar-right {
  float: right;
}

form {
  color: black;
}

form button {
  background-color: #00cc00;
}

.logo {
  max-width: 50%;
  padding-top: 1%;
}

.seahawkswag {
  font-weight: bolder;
}

li {
  list-style: none;
}
